@font-face {
  font-family: "Roboto",sans-serif,'Shrikhand', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Shrikhand&display=swap');
}

/*CHARGEMENT LOADER SPIN*/
/**, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
 
  display: block;
}
 
/*GENERALITE*/
*{
  box-sizing: border-box;
}
body{
  display: block;
  margin:0;
}

/* Mixins */
@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin button-hover {
  opacity: 0.8;
  cursor: pointer;
  transition: .3s;
  box-shadow: 0px 0px $padding 0px rgba(0,0,0,0.6);    
}
/* VARIABLES */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white:white;
$fondgrisclair:#F6F6F6;
$padding:10px;
/*CHARGEMENT LOADER*/
//Spinner loading: sa position
.spinner {
  height: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 20;
  animation: spinner 2s linear ;
  visibility: hidden;
  &__border {
      @include flexbox-center;
      border: $padding solid transparent;
      border-top: $padding solid $color-primary;
      border-bottom: $padding solid $color-secondary;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin: auto;
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      animation: spinner-border 2s linear ;
      z-index: 10;
      visibility: hidden;
  }
  &__center {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $color-tertiary;
  
  }
}
// Animation Loading spinner //
@keyframes spinner {
  0% {
      visibility: visible;
      opacity: 0.9;
  }
  70% {
      opacity: 0.9;
  }
  100% {
      opacity: 0;
      visibility: hidden;
  }
}
@keyframes spinner-border {
  0% {
      visibility: visible;
      opacity: 1;
  }
  70% {
      opacity: 1;
  }
  100% {
      transform: rotate(360deg);
      opacity: 0;
      visibility: hidden;
  }
}
/*HEADER ET LOGO*/
header{
  width: 100%;
  height: auto;
  padding: $padding 0;
  text-align:center;

  .header__logo{
    font-family: "srhikhand";
    font-weight: bold;
    width: 50%;
    }
}
/*NAVIGATION DE LOCALISATION*/
nav{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  background: #eaeaea;
  box-shadow: inset 0 4px 4px 0 #d4d4d4 ;
  .nav__input{
    border: none;
    font-size:16px;
    font-weight:bold ;
    background: #eaeaea;
  }
}
.icon--map{
  margin: $padding $padding $padding 40px;
}
/*BOUTONS ANIMES*/
.btn__submit{
  font-size: 20px;
  font-weight: 500;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 100px;
  background:linear-gradient($color-primary, #FF79DA);
  box-shadow: 1px 1px 5px grey;
  color:$white;
  cursor: pointer;
  &:hover{
    @include button-hover;
    animation-name:zoombig ;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
  }
}
/*ANIMATION ZOOMER EN GRAND*/
 @keyframes zoombig {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.2);
  }
}
/*BOUTON LIKE BY SCALE*/
.btn__heart {
  display: flex;
  font-size: xx-large;
  color: $color-primary;
  position: relative;
  transform: translate(250px, -40px);
  
  &:hover{
   color: $fondgrisclair;
  }
}
.btn__like{
  display: flex;
  font-size: xx-large;
  color: $color-primary;
  opacity: 0.4;
  cursor: pointer;
  margin-top: -70px;
  margin-left: 250px;
  
  
  &:hover{
  color: $color-primary ;
  opacity: 0.7;
  animation:likin 1s ease 0s normal both ;  
  }
}    
/*ANIMATION APPARITION BY SCALE pour btn Like*/
.likin {
  animation-name:likin ;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: both;
  }
/* pour le btn LIKE*/
@keyframes likin {
  0%{
  transform: scale(0.1);
  }
  100%{
  transform: scale(1);
  }
  }
/*ANIMATION SLIDE*/
.animation{
animation: slideleft 1s linear both;
}
@keyframes slideleft{
  from{
    transform: translateX(250px);
    opacity: 0;
  }
  to{
    transform: translateX(240px);
    opacity: 1;
  }
}
/*CALL TO ACTION*/
.call-action{
  width: 100%;
  height: auto;
  background:$fondgrisclair ;
  justify-content: center;
  align-items: center;
  padding: 60px 60px;
}
  h1{
    font-size: 28px;
    font-weight: bold; 
    text-align: center; 
  }
  p{
    text-align: center;
  }
 /* SECTION FILTERS : FONCTIONNEMENT*/
 .filters-section{
   padding: 30px 20px
 }
 .filters-ul{
   list-style: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 25px;
   padding-inline-start: 0;

    .filters__li{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 90%;
      height: 50px;
      background-color: $fondgrisclair;
      box-shadow: 4px 4px 8px #e5e5e5;
      border-radius: $padding;
      &:hover{
      cursor: pointer;  
      background: lighten($color-primary, 20);
      opacity: 0.8;
      }
    }
  }
.filters__num{
  border-radius: 15px;
  padding: 7px 12px;
  background: $color-primary;
  color: $white;
  transform: translate(-25px); 
}
/*SECTION LISTE DES RESTAURANTS*/
.resto-list{
  width: 100%;
  height: auto;
  padding: 20px 0 20px 20px;
  background-color:whitesmoke;
  }
  .resto-card{
    width: 95%;
    height: auto;
    border: 1px solid $fondgrisclair;
    border-radius: 15px;
    box-shadow: 0 0 $padding #d4d4d4;
    background-color: $white;
    margin-bottom: 20px;
  }
  .card--new{
      width: 60px;
      padding: 5px;
      font-size: 14px;
      background-color: $color-tertiary;
      color:darken($color-tertiary, $amount: 100);
      position: absolute;
      transform: translate(400%, 100%);   
    }
  .img__link{
    text-decoration: none;
    color: black;
  }
  .card__img{
    width: 100%;
    height:auto;
    border-radius: 15px 15px 0 0;
  }
  .card__img--modif{
      width: 100%;
      height: 240px;
      border-radius: 15px 15px 0 0;
    }
  .card__h3 {
    margin-block-end:0 ;
    margin-block-start:0 ;
    padding-top: $padding;
    padding-bottom: 5px;
    padding-left: $padding;
  }
  .card__h4{
   margin-block-end:0 ;
    margin-block-start:0 ;
    padding-bottom: 0px;
    padding-left: $padding;
  }
.card__h5{
  margin-block-start: 0;
  margin-block-end: 0;
}  
/*FOOTER*/
footer {
  background-color: #353535;
  color: $white;
  padding-left: $padding;
  padding: $padding;
  margin-top: -25px;
}
.footer__link--white {
  text-decoration: none;
  color: $white;
}
.footer__h3 {
  font-family: "Shrikhand";
  font-size: 20px;
  margin-block-end: 0px;
}
.footer__icon {
  margin-right: 5px;
}

@media screen and (min-width:500px){
/*CALL TO ACTION*/
.btn__submit{
  margin-left: 20%;
}
/*SECTION FILTERS : FONCTIONNEMENT*/
  .filters__num{
    border-radius: 15px;
    padding: 7px 12px;
    background: $color-primary;
    color:$white;
    transform: translate(-50px);
  }
 /*SECTION LISTE DES RESTAURANTS*/
.resto-list{
  width: 100%;
  height: auto;
  padding: 20px;
  background-color:whitesmoke;
  }
  .resto-card{
    width: 90%;
    height: auto;
    border: 1px solid $fondgrisclair;
    border-radius: 15px;
    box-shadow: 0 0 $padding #d4d4d4;
    background-color:$white;
    margin: 30px;
    position: relative;
  }
  .resto-card--new{
      width: 60px;
      padding: 5px;
      font-size: 14px;
      background-color: $color-tertiary;
      color:darken($color-tertiary, $amount: 100);
      position: absolute;
      transform: translate(450%, 100%);   
    }
  .img__link{
    text-decoration: none;
    color: black;
  }
  .card__img{
    width: 100%;
    height:200px;
    border-radius: 15px 15px 0 0;
  }
  .card__img--modif{
      width: 100%;
      height: 200px;
      border-radius: 15px 15px 0 0;
    }
  .card__h3 {
    margin-block-end:0 ;
    margin-block-start:0 ;
    padding-top: $padding;
    padding-bottom: 5px;
    padding-left: $padding;
  }
  .card__h4{

   margin-block-end:0 ;
    margin-block-start:0 ;
    padding-bottom: 0px;
    padding-left: $padding;
  }
  .card__h5{
  margin-block-start: 0;
  margin-block-end: 0;
  } 
  .btn__heart{
    font-size: xx-large;
    transform: translate(250px, -40px);
  }
}
@media screen and (min-width:600px){
  /*HEADER ET LOGO*/
header{
  width: 100%;
  height: auto;
  padding: $padding 0;
  text-align:center;
  .header__logo{
    font-family: "srhikhand";
    font-size: 24px;
    font-weight: bold;
    width: 30%;
    }
}
/*CALL TO ACTION*/
.call-action{
  width: 100%;
  height: auto;
  background:$fondgrisclair ;
  justify-content: center;
  align-items: center;
  padding: 30px 60px;
}
.btn__submit{
  margin-left: 30%;
}
   /* SECTION FILTERS : FONCTIONNEMENT*/
 .filters-section{
  padding: 0px 20px;
  padding-bottom: 30px;
}
.filters-ul{
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-inline-start: 0px;
  
   .filters__li{
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 90%;
     height: 50px;
     background-color: $fondgrisclair;
     box-shadow: 4 px 4px 8px #e5e5e5;
     border-radius: $padding;
     cursor: pointer;

     &:hover{
      background: lighten($color-primary, 20);
     }
   }
 }
.filters__num{
 border-radius: 15px;
 padding: 7px 12px;
 background: $color-primary;
 color: $white;
 transform: translate(-60px);
}
/*SECTION LISTE DES RESTAURANTS*/
  .card__img{
    width: 100%;
    height:200px;
    border-radius: 15px 15px 0 0;
  }

  .card__img--modif{
      width: 100%;
      height: 200px;
      border-radius: 15px 15px 0 0;
    } 
    .card--new{
      width: 60px;
      padding: 5px;
      font-size: 14px;
      background-color: $color-tertiary;
      color:darken($color-tertiary,$amount: 100);
      position: absolute;
      transform: translate(700%, 100%);   
    }
    .btn__heart{
      font-size: xx-large;
      transform: translate(250px, -40px);
    }

    /*FOOTER*/
footer {
  list-style-type: none;
  background-color: #353535;
  color:$white;
  padding: $padding+10;
}
.footer__icon{
  margin-right: 5px;
}
  }
@media screen and (min-width:700px){ 
  /*CALL TO ACTION*/
  h1{
    margin-block-start: 0;
  }
  .filters__num{
    transform: translate(-95px);
  }
}
@media screen and (min-width:750px){
  /*SECTION FILTERS : FONCTIONNEMENT*/
  .filters__num{
    border-radius: 15px;
    padding: 7px 12px;
    background: $color-primary;
    color: $white;
    transform: translate(-90px); 
  }
  /*SECTION LISTE DES RESTAURANTS*/
  .resto-list{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color:whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
  .resto-card{
    width: 30%;
    height:230px;
    border: 1px solid $fondgrisclair;
    border-radius: 15px;
    box-shadow: 0 0 $padding #d4d4d4;
    background-color: $white;
    margin: $padding;
    position: relative;
    }
  .img__link{
    text-decoration: none;
    color: black;
  }
  .card__img{
    width: 100%;
    height:auto;
    border-radius: 15px 15px 0 0;
    position: static;
  }
  .card__img--modif{
      width: 100%;
      height: 145px;
      border-radius: 15px 15px 0 0;
    }
    .card--new{
      width: 60px;
      padding: 5px;
      font-size: 14px;
      background-color: $color-tertiary;
      color:darken($color-tertiary, $amount: 100);
      position: absolute;
      transform: translate(200%, 100%);   
    }
    .btn__heart{
      font-size: xx-large;
      transform: translate(170px, -20px);
    }
    .btn__like{
      transform: translate(170px, -50px);
    }
    .card--3{
      margin-left: 130px;
    }
    .marg--right{
      margin-right: 100px;
    }
  
  /*FOOTER*/
footer{
  display: flex;
  justify-content: space-between;
  padding-right: $padding;
  padding-bottom: 20px;
  padding-left: $padding;
}
.footer-flex{
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}
.footer__h3 {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
}
.footer__h4 {
  display: flex;
  align-items: center;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: $padding;
}
.footer__icon {
  margin-right: 5px;
}
  }
 @media screen and (min-width:800px)  {
   body{
     margin: 0;
   }
   /*HEADER ET LOGO*/
  header{
  width: 100%;
  height: auto;
  padding: 20px 0;
  text-align:center;
  }
  .header__logo{
    width: 30%;
    }
    /*CALL TO ACTION*/
    h1{
      margin-block-start: 0;
    }
  /* SECTION FILTERS : FONCTIONNEMENT*/
    .filters-section{
    padding: $padding;
       }
    .filters-ul{
      list-style: none;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-inline-start: 0;
      margin-left: 20px;
   
       .filters__li{
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: fit-content;
         height: 50px;
         background-color:$fondgrisclair;
         box-shadow: 4 px 4px 8px #e5e5e5;
         border-radius: $padding;
         cursor: pointer;
         margin-right: 0px;
         padding: 5px 20px;
   
         &:hover{
          background: lighten($color-primary, 20);
         }
       }
     }
   .filters__num{
     border-radius: 15px;
     padding: 7px 12px;
     background: $color-primary;
     color:$white;
     transform: translate(-30px);
   }
   .icon--filters{
     margin-right: 5px;
   }
/* LISTE DES RESTAURANTS*/
.resto__h2{
  margin-bottom: 230px;
}
  .resto-list{
    width: 100%;
    height: auto;
    padding: 20px 20px;
    background-color:whitesmoke;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }
  .resto-card{
      width: 30%;
      height: 220px;
      border: 1px solid $fondgrisclair;
      border-radius: 15px;
      box-shadow: 0 0 $padding #d4d4d4;
      background-color:$white;
      margin: $padding;
      margin-top: 0px;
      position: relative;
      }
    .card--new{
        width: 60px;
        padding: 5px;
        font-size: 14px;
        background-color: $color-tertiary;
        color:darken($color-tertiary, $amount: 100);
        position: absolute;
        transform: translate(220%, 100%);   
      }
    .img__link{
      text-decoration: none;
      color: black;
    }
    .card__img{
      width: 100%;
      height:auto;
      border-radius: 15px 15px 0 0;
      position: static;
    }
    .card__img--modif{
        width: 100%;
        height: 153px;
        border-radius: 15px 15px 0 0;
      }
      .card__h3 {
        margin-block-end:0 ;
        margin-block-start:0 ;
        padding-top: $padding;
        padding-bottom: 5px;
        padding-left: 5px;
        font-size: 16px;
      }
      .card__h4{
       margin-block-end:0 ;
        margin-block-start:0 ;
        padding-bottom: 0px;
        padding-left: $padding;
      }
    .card__h5{
      margin-block-start: 0;
      margin-block-end: 0;
    }  
    .card--3{
      margin-left: 130px;
    }
    .marg--right{
      margin-right: 100px;
    }
  .btn__heart{
    transform: translate(180px, -40px);
    color: $color-primary;
  }
  .btn__like{
    transform: translate(180px, -70px);
  }
  /*FOOTER*/
  footer{
    display: flex;
    justify-content: space-between;
  }
  .footer__h3 {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .footer__h4 {
    display: flex;
    align-items: center;
    margin-block-end: 0;
    margin-block-start: 0px;
  }
  .footer__icon {
    margin-right: 5px;
  }

}
  @media screen and (min-width:900px) {
    /*CALL TO ACTION*/
    .btn__submit{
      margin-left: 35%;
    }
    /*SECTION FILTERS : FONCTIONNEMENT*/
    .filters__num{
      border-radius: 15px;
      padding: 7px 12px;
      background: $color-primary;
      color: $white;
      transform: translate(-30px); 
    }
    .icon--filters{
      margin-right: 50px;
    }
    /*SECTION LISTE DES RESTAURANTS*/
    .resto-list{
      width: 100%;
      height: auto;
      padding-top: 20px;
      padding-bottom: 50px;
      background-color:whitesmoke;
      display: flex;
      }  
      .resto__h2{
        align-self: flex-start;
        margin-block-start: 0;
        margin-block-end: 0;
      }
      .resto-card{
        width: 30%;
        height: 250px;
        border: 1px solid $fondgrisclair;
        border-radius: 15px;
        box-shadow: 0 0 $padding #d4d4d4;
        background-color: $white;
        margin: $padding;
        position: relative;
        margin-top: 0px;
        }
      .card--new{
          width: 60px;
          padding: 5px;
          font-size: 14px;
          background-color: $color-tertiary;
          color:darken($color-tertiary, $amount: 100);
          position: absolute;
          transform: translate(200%, 100%);    
        }
      .img__link{
        text-decoration: none;
        color: black;
      }
      .card__img{
        width: 100%;
        height:150px;
        border-radius: 15px 15px 0 0;
        position: static; 
      }
      .card__img--modif{
          width: 100%;
          height: 150px;
          border-radius: 15px 15px 0 0;
        }
        .card--3{
          margin-left: 130px;
        }
        .marg--right{
          margin-right: 100px;
        } 
    .btn__heart{
      transform: translate(200px, -30px);
      color: $color-primary;
    }
    .btn__like{
      transform: translate(200px, -60px);
    }
     /*FOOTER*/
     footer{
      display: flex;
      justify-content: space-between;
      margin-top: -30px;
      padding: 20px;
    }
    .footer__h3 {
      font-size: 24px;
      display: flex;
      align-items: center;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-top: 0;
    }
    .footer__h4 {
      display: flex;
      align-items: center;
      font-size: 20px;
      margin-block-end: 0px;
      margin-block-start: 0px;
    }
    .footer__icon{
    margin-right: 5px;
    }
  }
  @media  screen and (min-width:1000px){
    /*NAVIGATION DE RECHERCHE*/
    
/*SECTION FILTERS: FONCTIONNEMENT*/

    .filters__li{
      &:hover{
      opacity: 0.8;
      cursor: pointer;
      z-index: 5;
    }
  }
  .filters__num{
    border-radius: 15px;
    padding: 7px 12px;
    background: $color-primary;
    color: $white;
    transform: translate(-30px); 
  }
/*SECTION RESTAURANTS*/
    .resto-list{
      width: 100%;
      height: auto;
      padding: 20px 20px;
      background-color:whitesmoke;
      display: flex;
      border-radius: 15px 15px 15px 15px;   
      align-items: center;
    }
    .resto__h2{
      align-self: flex-start;
      margin-block-start: 0;
      margin-block-end: 0;
    }
    .resto-card{
        width: 30%;
        height: auto;
        border: 1px solid $fondgrisclair;
        border-radius: 15px;
        box-shadow: 0 0 $padding #d4d4d4;
        background-color: $white;
        margin: $padding;
        position: relative;
        margin-top: $padding;
        &:hover{
          transform: scale(1.03);
        }
        }
      .card--new{
          width: 60px;
          padding: 5px;
          font-size: 14px;
          background-color: $color-tertiary;
          color:darken($color-tertiary, $amount: 100);
          position: absolute;
          transform: translate(350%, 100%);   
        }
      .img__link{
        text-decoration: none;
        color: black;
      }
      .card__img{
        width: 100%;
        height:150px;
        border-radius: 15px 15px 0 0;
        position: static;
      }
      .card__img--modif{
          width: 100%;
          height: 150px;
          border-radius: 15px 15px 0 0;
        }
        .card__h3 {
          margin-block-end:0 ;
          margin-block-start:0 ;
          padding-top: $padding;
          padding-bottom: 5px;
          padding-left: 5px;
          font-size: 16px;
        }
        .card--3{
          margin-left: 130px;
        }
        .marg--right{
          margin-right: 100px;
        }
        .btn__heart{
          transform: translate(230px, -40px);
          color: $color-primary;
        }
        .btn__like{
          transform: translate(230px, -70px);
        }
        .btn__submit{
          margin-left: 35%;
        }
/*FOOTER*/
footer{
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
.footer__h3 {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
}
.footer__icon {
  margin-right: 5px;
}
  }
@media screen and (min-width:1200px){
  body{
    width: 1200px;
    height: auto;
    margin-left: 30px;
    margin-right: 0px;
  }
/*HEADER ET LOGO*/
header{
  width: 100%;
  height: auto;
  padding: $padding 0;
  text-align:center;
  .header__logo{
    font-family: "srhikhand";
    font-size: 24px;
    font-weight: bold;
    width: 20%;
    }
  }
/*CALL TO ACTION*/
  .call-action{
    width: 100%;
    height: auto;
    background:$fondgrisclair ;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    box-shadow: 4px 4px 8px #d4d4d4;
    animation: apparition;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
  }
    h1{
      font-size: 30px;
      font-weight: bold;  
      margin-block-start: 0;
    }
    .btn__submit{
      margin-left: 40%;
    }
    h2{
      margin-block-start: 0;
      margin-block-end: 0;
    }
/*SECTION FILTERS : FONCTIONNEMENT*/
    .filters-section{
  animation: apparition;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-delay: 0.8s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
    }
    .icon--filters{
      margin-right: 100px;
    }
/*SECTION LISTE DES RESTAURANTS*/
    .resto-list{
      animation: apparition;
      animation-duration: 3s;
      animation-timing-function: ease;
      animation-delay: 1.2s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
    }
    .resto__h2{
      align-self: flex-start;
      margin-block-start: 0;
      margin-block-end: 0;
    }
    .resto-card{
      width: 30%;
      height: 220px;
      border: 1px solid #d4d4d4;
      border-radius: 15px;
      background-color: $white;
      margin: $padding;
      position: relative;
      margin-top: 0px;
      &:hover{
        box-shadow: 4px 4px 8px #d4d4d4;
        z-index: 5;
        animation-name: zoomer ;
        animation-duration: 0.4s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
    }
      }
/*ANIMATION ZOOMER*/
@keyframes zoomer {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.05);
  }
}
.zoomer{
    animation-name:zoomer ;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}      
  .card__img{
        width: 100%;
        height:150px;
        border-radius: 15px 15px 0 0;
        position: static; 
      }    
  .card__img--modif{
    width:100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
  } 
  .card--3{
    margin-left: 130px;
  }
  .marg--right{
    margin-right: 100px;
  }
 /*BOUTON LIKE BY SCALE*/
.btn__heart {
  display: flex;
  font-size: xx-large;
  color: $color-primary;
  position: relative;
  transform: translate(250px, -40px);
  
  &:hover{
   color: $fondgrisclair;
  }
}
.btn__like{
  display: flex;
  font-size: xx-large;
  color: $color-primary;
  opacity: 0.4;
  cursor: pointer;
  transform: translate(250px, -40px);
  
  &:hover{
  color: $color-primary ;
  opacity: 0.7;
  animation:likin 1s ease 0s normal both ;  
  }
}     
/*FOOTER*/
footer{
  background-color: #353535;
  color: $white;
  padding-left:$padding;
  padding:20px ;
  margin-top: 0px;
  animation: apparition;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.footer-flex{
  display: flex;
  justify-content: space-around;
  margin-top: -50px;
}
.footer__h3 {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
}
.footer__h4{
  padding-bottom: 0;
  padding-left: 20px;
  margin-block-end: 0;
  margin-block-start: 40px;
}
.footer__icon {
  margin-right: 5px;
}
/*ANIMATION APPARITION BY SCALE*/
@keyframes apparition {
  0%{
    transform: scale(0.1);
  }
  100%{
    transform: scale(1);
  }
}
.apparition {
    animation-name:apparition ;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
}


